body {
  margin: 0;
  padding: 0;
  background-color: #3f4d67 !important;
  background-image: url('/images/backgrounds/gadgets.jpg') !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  color: #ffffff !important;
  font-family: sans !important;
  text-align: center !important;
}
.bg-master {
  background-color: #162D50 !important;
}
.opacity {
  opacity: 0.5 !important;
}
.opacity:hover,
.opacity:focus {
  opacity: 1 !important;
}
.text-hover:hover,
.text-hover:focus {
  color: #1a5fb4 !important;
}
