{% include header with {
    meta: meta({
      title: 'Licença de uso'
    })
  }
%}
<div class="container-fluid">
  <div class="row">
    <div class="col bg-medium p-0">
      <div class="p-5 my-5 bg-white">
        <div class="container">
          <h3 class="text-secondary">
            <i class="fa fa-file-alt me-2" aria-hidden="true"></i>{{ 'Licença de uso'|upper }}
          </h3>
          <hr>
          <p>O uso do template está vinculado à licença que você adquiriu. Uma licença concede a você o direito não exclusivo e intransferível de usar e incorporar o item em seus projetos pessoais ou comerciais. Existem 3 licenças disponíveis:</p>
          <h3>Licença Única</h3>
          <ol>
            <li>O uso do template é restrito a uma única instalação.</li>
            <li>Você pode usar o template no trabalho que está criando para seus próprios fins ou para o seu cliente.</li>
            <li>Você não deve incorporar o template em um trabalho criado para redistribuição ou revenda por você ou seu cliente.</li>
            <li>O template não pode ser redistribuído ou revendido.</li>
          </ol>
          <h3>Licença Múltipla</h3>
          <ol>
            <li>O uso do template pode se estender a várias instalações.</li>
            <li>Você pode usar o template no trabalho que está criando para seus próprios fins ou para seus clientes.</li>
            <li>Você não deve incorporar o template em um trabalho criado para redistribuição ou revenda por você ou seus clientes.</li>
            <li>O template não pode ser redistribuído ou revendido.</li>
          </ol>
          <h3>Licença Estendida</h3>
          <ol>
            <li>O uso do template pode se estender a várias instalações.</li>
            <li>Você pode usar o template no trabalho que está criando para seus próprios fins ou para seus clientes.</li>
            <li>Você pode incorporar o template em um trabalho criado para redistribuição ou revenda por você ou seus clientes.</li>
            <li>Você pode licenciar, sublicenciar, redistribuir ou revender o template nas seguintes circunstâncias:
              <ol>
                <li>o template é incorporado a um trabalho maior que você criou; ou</li>
                <li>se você modificar o template e revender o produto final.</li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer %}
