{% include header with {
    meta: meta({
      title: 'Usage license'
    })
  }
%}
<div class="container-fluid">
  <div class="row">
    <div class="col bg-medium p-0">
      <div class="p-5 my-5 bg-white">
        <div class="container">
          <h3 class="text-secondary">
            <i class="fa fa-file-alt me-2" aria-hidden="true"></i>{{ 'Usage license'|upper }}
          </h3>
          <hr>
          <p>Use of the template is linked to the license you purchased. A license grants you the non-exclusive and non-transferable right to use and incorporate the item into your personal or commercial projects. There are 3 licenses available:</p>
          <h3>Single License</h3>
          <ol>
            <li>Your use of the template is restricted to a single installation.</li>
            <li>You may use the template in work which you are creating for your own purposes or for your client.</li>
            <li>You must not incorporate the template in a work which is created for redistribution or resale by you or your client.</li>
            <li>The template may not be redistributed or resold.</li>
          </ol>
          <h3>Multiple License</h3>
          <ol>
            <li>Your use of the template may extend to multiple installations.</li>
            <li>You may use the template in work which you are creating for your own purposes or for your clients.</li>
            <li>You must not incorporate the template in a work which is created for redistribution or resale by you or your clients.</li>
            <li>The template may not be redistributed or resold.</li>
          </ol>
          <h3>Extended License</h3>
          <ol>
            <li>Your use of the template may extend to multiple installations.</li>
            <li>You may use the template in work which you are creating for your own purposes or for your clients.</li>
            <li>You may incorporate the template in a work which is created for redistribution or resale by you or your clients.</li>
            <li>You may license, sublicense, redistribute, or resell the template in the following circumstances:
              <ol>
                <li>the template is incorporated into a larger work you have created; or</li>
                <li>if you modify the template and resell the end product.</li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer %}
